body{
	font-family: Georgia, serif;
	line-height: 1.4;
	margin: 3em;
	color: #888;
}

h1 , em{
	color: black;

}

p{
	margin-top: 1.4em;
}

blockquote{
	border-left: 5px solid #eeeeee;
	margin: 0;
	padding-left: 11px;

}

blockquote p{
	font-style: italic;

}

blockquote em{
	font-style: normal;
}