/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     
     
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  float: left;
  


}

header {


}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 35px;
}


.wrapper{
  width: 1000px;
  margin: 0 auto;

}


.tagline{
  font-family: 'Open Sans';
  font-size: 35px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.column-1{
  width: 25%;
  float: left;
  height: 45px;
  
}

.column-2{
width: 50%;
float: left;
height: 45px;
position: relative;
left: 170px;
}

.button{
  height: 45px;
  background-color: #f9e42e;
  width: 35%;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
    
}

h3{
  color: #033048;
  font-size: 20px;
  padding: 9px 25px 9px 47px;
}

.column-3{
  width: 25%;
  float: right;
  height: 45px;
}


.benefits-container{
  height: 400px;
  background-color: #f0efef;
  width: 100%;
  float: left;
}


.benefits-container, h2{
  color: #033048;
  font-size: 30px;
  font-weight: semibold;
  padding-top: 10px;

}

.benefits-container, p{
  font-size: 18px;
  color: #7d7a79;
  font-weight: 300;
}

ul, li{
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
  color: #7d7a79;

}

.quote-container{
  width: 100%;
  margin: auto;
  height: 350px;
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  float: left;

}
.left-div{
  width: 25%;
  height: 100px;
  float: left;
}

}
.right-div{
  width: 25%;
  height: 100px;
  float: left;
}

.quote p{
  font-size: 27px;
  font-weight: 300;
  color: white;
  padding-top: 50px;
  width: 50%;
  text-align: center;
  float: left;

}

.sign-up-container{
  height: 100px;
  width: 100%;
  background-color: #f9e42e;
  float: left;
  
}

.sign-up-button{
  height: 45px;
  width: 22%;
  background-color: #043049;
  border-radius: 5px;
  float: left;
  margin-top: 25px;
  margin-left: 150px;
  
} 

h4{
  color: white;
  font-size: 20px;
  padding-left: 57px;
  margin-top: 9px;

}


footer{
  height: 300px;
  width: 100%;
  background-color: black;
  float: left;
}

footer p{
  color: white;
  text-align: center;
  font-size: 14px;
}


.footer-header{
  text-align: center;
  padding-top: 30px;
  color: #f9e42e;
  font-size: 40px;
}


.social-media{
  width: 50%;
  float: left;
  position: relative;
  left: 248px;
  top: 20px;

}

.column-left{
  height: 100px;
  width: 25%;
  float: left;
}

.column-right{
  height: 100px;
  width: 25%;
  float: left;
}


















