<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout-2</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>

	<header>
		<div class="container"></div>
	</header>

	<div class="wrapper">

	<section class="left-2">
		<div class="container-3"></div>
	</section>

	<aside class="right-2">
		<div class="container-3"></div>
	</aside>
	</div>

	<div class="wrapper">
		<section class="block-1">
		<div class="container-4"></div>
		</section>

	<section class="block-2">
		<div class="container-4"></div>
		</section>

	<section class="block-3">
		<div class="container-4"></div>
		</section>
	</div>

	<footer>
		<div class="container"></div>
	</footer>

</body>
</html>