<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout-2</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>

	<header>
			<div class="container"></div>
	</header>

	<div class="wrapper">
		<aside class="left">
			<div class="container-2">
				</div>
		</aside>
	
	<section class="middle">
		<div class="container-2"></div>
		
		
	</section>

	<aside class="right">
		<div class="container-2"></div>
	</aside>
	</div>

	<footer>
		<div class="container"></div>
	</footer>

</body>
</html>