.container{
	background-color: #d8d8d8;
	padding: 50px;
	margin-bottom: 20px;
	border: 1px solid #afafaf;

}
.container-2{
	background-color: #d8d8d8;
	padding: 50px;
	margin-bottom: 20px;
	border: 1px solid #afafaf;
	height: 300px;

}

.container-3{
	background-color: #d8d8d8;
	padding: 50px;
	margin-bottom: 20px;
	border: 1px solid #afafaf;
	height: 300px;

}

.container-4{
	background-color: #d8d8d8;
	padding: 50px;
	margin-bottom: 20px;
	border: 1px solid #afafaf;
	height: 75px;

}

.wrapper{
	width: 100%;
	margin: 0 auto;
}

header, footer{
	width: 100%;
	float: left;
	clear: both;
}
.main{
	float: left;
	width: 62%;
	margin-right: 20px;
}

.sidebar{
	float: right;
	width: 35%;
}


.left{
	width: 20%;
	float: left;
	
}

.middle{
	width: 56%;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

.right{
	width: 20%;
	float: left;
}


.left-2{
	margin-right: 10px;
	width: 49%;
	float: left;
}
.right-2{
	margin-left: 10px;
	width: 49%;
	float: right;
}

.block-1{
	width: 32%;
	float: left;
}

.block-2{
	width: 32%;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

.block-3{
	width: 32%;
	float: right;
}


